.links {
    text-align:right; 
    background-color: #0076FF;
}

button {
    background-color: transparent;
    border-color: transparent;
    border: transparent;
    font-weight: bolder;
    color: white;
}

ul 
{
    list-style-type: none;
}

li {
    float: right;
}