<div><h3>{{pageTitle}}</h3></div>
<div><p>Filter Year: <input type='number' [(ngModel)]='yearFilter'></p></div>
<div class='table-responsive'>
    <table class='table'>
        <thead>
            <th>Name</th>
            <th>Max Claim</th>
            <th>Year</th>
        </thead>
        <tbody>
            <tr *ngFor='let taxCredit of filteredTaxCredits'>
                <td>{{taxCredit.name}}</td>
                <td>{{taxCredit.maxClaim}}</td>
                <td><bb-year-select yearId={{taxCredit.year}} disabled=true></bb-year-select></td>
            </tr>
        </tbody>
    </table>
</div>